// stylelint-disable declaration-no-important

.x-small {
  font-size: 0.75rem !important; // 12/16
}

.small {
  font-size: 0.875rem !important; // 14/16
}

.medium {
  font-size: 1rem !important;
}

.large {
  font-size: 1.125rem !important; // 18/16
}

.x-large {
  font-size: 1.25rem !important; // 20/16
}
