/* 组合表单 */
.form {
  @include hairline-top($border-color);
  background-color: #fff;

  .form-group {
    display: flex;
    font-size: 1rem;
    padding-left: 1rem;
    margin-bottom: 0; /* bs */
    @include hairline-bottom($border-color);
  }

  .control-label, // 兼容bs3
  .col-form-label {
    width: 95px;
    margin-bottom: 0; /* bs */
  }

  .form-control {
    border: none;
    appearance: none;
    display: inline-block; /* bs */
    padding-left: 0; /* bs */
  }

  textarea.form-control {
    margin-top: 11px;
    padding-left: 0;
    padding-top: 0;
  }
}

.col-control {
  flex: 1;
}

.form-footer {
  padding: 1rem;
  background: $body-bg;

  .btn {
    @extend .btn-md;
  }
}

.form-legend {
  color: #666;
  margin-bottom: 0;
  background: $body-bg;
  padding: 6px 15px;
  font-size: 14px;
  @include hairline-bottom($border-color);
}

.form .control-label,
.form .col-form-label,
.form-group > .col-control {
  @include text-truncate();
  line-height: 44px;
  vertical-align: middle; /* input-group 上下居中 */
  padding-top: 0;
  padding-bottom: 0;
}

.form .input-group .form-control {
  height: auto; /* 自动拉伸 */
}

.form .has-feedback .form-control {
  padding-right: 44px;
}

.form .form-control-feedback {
  height: 44px;
  line-height: 44px;
  width: 44px;
  color: #a6a6a6;
  pointer-events: visible; /* bs */
}

.form .form-control-feedback:hover {
  text-decoration: none;
}

/* 输入框右边的文案,如"元","个" */
.col-control .input-group-addon {
  background: transparent;
}

.col-control .input-group-btn .btn {
  width: 110px; /* TODO rm */
  height: 100%;
  font-size: 16px;
  padding: 0;
  color: #00a5e0;
  border: none;
  background: none;
  -webkit-appearance: none;
  outline: none;
  vertical-align: baseline; // why?
}

.col-control .input-group-btn .btn::after {
  border-width: 0;
}

.col-control .input-group-addon:last-child {
  border-width: 0;
  background: transparent;
}

/* Checkbox + Radio */
.form .checkbox, .form .radio {
  margin-top: 0;
  margin-bottom: 0;
}

.form .checkbox label, .form .radio label {
  line-height: normal;
  padding-left: 20px;
}

.form .checkbox-sm label, .form-sm .radio label {
  padding-left: 5px;
}

.form .checkbox span::before, .form .radio span::before {
  width: 21px;
  height: 21px;
}

.form .checkbox span::after {
  padding-top: 0;
  padding-left: 4px;
  font-size: 13px;
  line-height: 21px;
}

.form .radio span::after {
  margin-top: 2px;
  margin-left: -18px;
}

/* 改bootstrap配置 */
.col-control .input-group-btn .btn.disabled {
  color: #a6a6a6;
  opacity: 1;
}

/* 嵌入表单 */
.form-inset {
  margin-left: 15px;
  margin-right: 15px;
  border: none;
  background: none;
}

.form-inset::before {
  background: none;
  border: none;
}

.form-inset .form-body {
  border-radius: 7px;
  border: 1px solid #e0e0e0;
  background: #fff;
}

.form-inset .form-body > .form-group:last-child {
  border-bottom: none;
  background-image: none;
}

.form-inset .form-footer {
  padding-left: 0;
  padding-right: 0;
  background: none;
}

.form-inset .form-legend:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .form-inset .form-body {
    position: relative;
    border: none;
  }

  .form-inset .form-body:before {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #dedfe0;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: -50% -50%;
    border-radius: 14px;
  }

  /*.form-inset .form-body .form-legend:first-child {
      background-image: none;
  }*/
}

/* 点击select右边的图标可显示select选项 */
.form select + .bm-angle-right {
  pointer-events: none;
}

/* 内联Radio */
.col-control .radio-inline {
  margin-left: 4px;
}

.col-control .radio-inline + .radio-inline {
  margin-left: 10px;
}

.col-control .radio-inline .radio-label::before {
  margin-top: 11px;
  margin-left: -3px;
}

.col-control .radio-inline .radio-label::after {
  margin-top: 13px !important;
  margin-left: -1px !important;
}

/* 按钮禁用颜色 #a6a6a6, 点击背景颜色 #e5e6e7 */
