// 组合表单
.form {
  @include hairline-top($border-color);

  .form-group {
    display: flex;
    font-size: 1rem;
    padding-left: 1rem;
    margin-bottom: 0; /* bs */
    background-color: #fff;
    @include hairline-bottom($border-color);
  }

  .control-label, // 兼容bs3
  .col-form-label {
    width: 95px;
    line-height: 44px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0; /* control-label */
  }

  .form-control {
    border: none;
    appearance: none;
    display: inline-block; /* bs */
    padding-left: 0; /* bs */
  }

  .form-control:disabled,
  .form-control[readonly] {
    background-color: transparent; /* bs */
  }

  textarea.form-control {
    margin-top: 10px; // TODO why?
    padding-left: 0;
    padding-top: 0;
  }

  .input-group .btn {
    @include hairline-none(true);
    @include hairline-left($border-color);
  }

  .form-control:focus {
    z-index: 0;
  }
}

.form-legend {
  color: $text-muted;
  background: $body-bg;
  padding: .5rem 1rem;
  font-size: .875rem;
  @include hairline-bottom($border-color);
}

.col-control {
  display: flex; /* input-group 上下居中 */
  align-items: center;
  flex: 1;
  line-height: 44px;
}

.input-group .form-control {
  height: auto; /* 上下自动拉伸 */
}

.form-footer {
  padding: 1rem;

  .btn {
    @extend .btn-md;
  }
}

// 嵌入表单
.form-inset {
  @include hairline-none();

  background-color: transparent;
  margin-left: 1rem;
  margin-right: 1rem;

  .form-body {
    overflow: hidden;
    border-radius: $border-radius-lg;
    @include hairline($border-color, $border-radius-lg);
  }

  .form-group:last-child {
    @include hairline-none();
  }

  .form-footer {
    padding-left: 0;
    padding-right: 0;
  }
}

// Deprecated

/* Checkbox + Radio */
.form .checkbox, .form .radio {
  margin-top: 0;
  margin-bottom: 0;
}

.form .checkbox label, .form .radio label {
  line-height: normal;
  padding-left: 20px;
}

.form .checkbox-sm label, .form-sm .radio label {
  padding-left: 5px;
}

.form .checkbox span::before, .form .radio span::before {
  width: 21px;
  height: 21px;
}

.form .checkbox span::after {
  padding-top: 0;
  padding-left: 4px;
  font-size: 13px;
  line-height: 21px;
}

.form .radio span::after {
  margin-top: 2px;
  margin-left: -18px;
}

/* 内联Radio */
.col-control .radio-inline {
  margin-left: 4px;
}

.col-control .radio-inline + .radio-inline {
  margin-left: 10px;
}

.col-control .radio-inline .radio-label::before {
  margin-top: 11px;
  margin-left: -3px;
}

.col-control .radio-inline .radio-label::after {
  margin-top: 13px !important;
  margin-left: -1px !important;
}

// 右边展示图标
.form-control-feedback {
  position: absolute;
  right: 0;
  top: 0;
  height: 44px;
  line-height: 44px;
  width: 44px;
  color: #a6a6a6;
  text-align: center;
  pointer-events: none;
}
