// 列表表单
.form, // 废弃,兼容旧版
.list {
  @include hairline-top($border-color);

  .form-group {
    display: flex;
    font-size: 1rem;
    padding-left: 1rem;
    margin-bottom: 0; /* bs */
    background-color: #fff;
    @include hairline-bottom($border-color);
  }

  .control-label, // 兼容bs3
  .col-form-label {
    width: 95px;
    padding-top: $list-item-padding-y;
    padding-bottom: $list-item-padding-y;
    align-self: flex-start; // 在 .list-item 中
  }
}

.col-control {
  display: flex; /* input-group 上下居中 */
  align-items: center;
  flex: 1;

  .form-control {
    border: none;
    appearance: none;
    display: inline-block; /* bs */
    height: $list-height;
    padding-top: $list-item-padding-y;
    padding-bottom: $list-item-padding-y;

    &:focus {
      z-index: 0;
    }

    &:disabled,
    &[readonly] {
      background-color: transparent; /* bs */
    }

    @at-root .col-control textarea.form-control {
      height: auto;
    }
  }

  .input-group .btn {
    @include hairline-none(true);
    @include hairline-left($border-color);
  }
}

.form-footer {
  padding: 1rem;

  .btn {
    @extend .btn-md;
  }
}

// 嵌入表单
.form-inset {
  @include hairline-none();

  background-color: transparent;
  margin-left: 1rem;
  margin-right: 1rem;

  .form-body {
    overflow: hidden; /* 隐藏 form-group 超出的边角 */
    border-radius: $border-radius-lg;
    @include hairline($border-color, $border-radius-lg);
  }

  .form-group:last-child {
    @include hairline-none();
  }

  .form-footer {
    padding-left: 0;
    padding-right: 0;
  }
}

// Deprecated

// 改用 .list-divider
.form-legend {
  color: $text-muted;
  background: $body-bg;
  padding: .375rem 1rem;
  font-size: .875rem;
  margin-bottom: 0; // bs <legend>
  @include hairline-bottom($border-color);
}

/* Checkbox + Radio */
.form .checkbox, .form .radio {
  margin-top: 0;
  margin-bottom: 0;
}

.form .checkbox label, .form .radio label {
  line-height: normal;
  padding-left: 20px;
}

.form .checkbox-sm label, .form-sm .radio label {
  padding-left: 5px;
}

.form .checkbox span::before, .form .radio span::before {
  width: 21px;
  height: 21px;
}

.form .checkbox span::after {
  padding-top: 0;
  padding-left: 4px;
  font-size: 13px;
  line-height: 21px;
}

.form .radio span::after {
  margin-top: 2px;
  margin-left: -18px;
}

/* 内联Radio */
.col-control .radio-inline {
  margin-left: 4px;
}

.col-control .radio-inline + .radio-inline {
  margin-left: 10px;
}

.col-control .radio-inline .radio-label::before {
  margin-top: 11px;
  margin-left: -3px;
}

.col-control .radio-inline .radio-label::after {
  margin-top: 13px !important;
  margin-left: -1px !important;
}

// 右边展示图标
.form-control-feedback {
  position: absolute;
  right: 0;
  top: 0;
  height: 48px;
  line-height: 48px;
  width: 48px;
  color: #a6a6a6;
  text-align: center;
  pointer-events: none;
}
