.list {
  font-size: 1rem;
  background-color: #fff;
  @include hairline-top($border-color);
  @include hairline-bottom($border-color);

  // ul
  padding-left: 0;
  list-style: none;
}

// 列表项目
.list-item {
  display: flex;
  color: inherit;
  padding: $list-item-padding-y $list-item-padding-x;

  align-items: center; // 避免默认拉伸,例如图片

  /* 在 list-intended 时,点击高亮整行背景,和下一行的上边框,使用 border-top 效果更美观 */
  @include hairline-top($border-color);

  &:first-child {
    @include hairline-none();
  }

  &:hover {
    color: inherit;
    text-decoration: none;
  }

  @at-root a.list-item:active {
    background-color: $gray-300;
  }

  .col-form-label,
  .col-control {
    margin-top: -$list-item-padding-y;
    margin-bottom: -$list-item-padding-y;
  }

  .col-control {
    margin-right: -$list-item-padding-x;
  }
}

// 兼容旧版本
.list li {
  /* 在 list-intended 时,点击高亮整行背景,和下一行的上边框,使用 border-top 效果更美观 */
  @include hairline-top($border-color);

  &:first-child {
    @include hairline-none();
  }
}

// 设置单个 item 为可点击状态
.list-item-link {
  cursor: pointer;

  &:active {
    background-color: $gray-300;
  }
}

// 分割线
.list-divider {
  color: $text-muted;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: .875rem;
  background-color: $body-bg;
  margin-bottom: 0; // bs <legend>

  .list-item-title {
    font-size: .875rem;
  }
}

// 项目媒体,放在左侧,例如图片,图标
.list-item-media {
  display: flex;
  align-self: stretch; // 占满项目内部,以便::after定位
  align-items: center;
  position: relative;
  padding-right: $list-item-padding-x;

  // 占满项目外框,以便挡住底部的边
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: calc(#{$list-item-padding-y} + 1px);
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #fff;
    pointer-events: none;

    @at-root {
      a.list-item,
      .list-item-link {
        &:not(.list-divider):active {
          z-index: 1; // 遮住上一个.list-item-media::after

          .list-item-media::after {
            border-bottom-width: 0; // 遮住自己
          }
        }
      }
    }
  }
}

// 项目标题
.list-item-title {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;

  // 右边可放置状态文案,badge,图标等
  display: flex;
  align-items: center;
  justify-content: space-between;

  // 兼容包含 .center-right 的情况
  position: relative;
  width: 100%;

  + .list-item-text {
    margin-top: .5rem;
  }
}

// 显示在右边的内容,例如状态,徽章,图标等
.list-item-meta {
  flex-shrink: 0; // 内容一般较少，不被挤到换行
  margin-left: auto; // 预期展示在右边
  padding-left: .5rem; // 与左边保留距离
  align-self: center; // 两边高度可能不一致（多行，字体大小），因此居中
}

// 标题下面的文案,一般用于简介,子标题
.list-item-text {
  font-size: .875rem;
  color: $text-muted;
}

// 列表右边的图标
.has-feedback {
  padding-right: 2rem;
}

.list-feedback {
  position: absolute;
  top: 0;
  right: .5rem; // 视觉上距离右边约1rem
  bottom: 0;
  height: 48px;
  line-height: 48px;
  margin: auto;
  color: $text-muted;
}

// 栏目
.list-col {
  display: flex;
  flex-direction: column; // 内部内容为垂直结构
  flex: 1 1 auto;
}

.list-col + .list-col {
  padding-left: 1rem;
}

// 描述列表

// 条目，和 .list-detail 一起用于展示列表内容
.list-item-term {
  margin-right: auto;
  white-space: nowrap;
  align-self: flex-start;
  color: $text-muted;
}

// 详情
.list-item-detail {
  text-align: justify;
  margin-left: 1rem;
}

// 缩进列表
.list-indented {
  overflow: hidden; // 隐藏 left 超出的边框

  li::after, // 兼容旧版本
  .list-item::after {
    left: 1rem;
  }

  // 激活链接时，下边框占满整行
  .list-item-link:active + li::after, // 兼容旧版本
  a.list-item + li::after, // 兼容旧版本
  .list-item-link:active + .list-item::after,
  a.list-item:active + .list-item::after,

    // 分割线显示完整的上下边框
  .list-divider + li::after, // 兼容旧版本
  .list-divider::after,
  .list-divider + .list-item::after {
    left: 0;
  }

  .form-footer {
    background: $body-bg;

    &::after {
      left: 0;
      border-bottom: 1px solid #fff;
      z-index: 1;
    }
  }
}

// 紧凑列表
.list-condensed {
  .list-item {
    padding: .3rem .5rem;
  }
}

// 无边框列表
.list-borderless {
  @include hairline-none();

  .list-item {
    @include hairline-none();
  }
}

// 列表为空的提示文案
.list-empty {
  text-align: center;
  padding: 6rem 0;
}

/* 显示列表加载中和加载完成样式 */
.list-loading,
.list-finished {
  text-align: center;
  padding: 1em;
}

.list-loading-top {
  overflow: hidden;
  position: relative;
  height: 0;
  padding: 0;
  line-height: 40px;
  transform: translateZ(0);
}

.list-loading-transition {
  transition: all 300ms;
}

.list-loading-spinner {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  margin: 6px;
  border: 2px solid;
  border-bottom-color: transparent;
  vertical-align: middle;
  animation: list-rotate 0.75s linear infinite;
}

@keyframes list-rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Deprecated
/* 列表头部 */
.list-header {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.list-header .list-item-title {
  font-size: 1.25rem;
}

// 改用 .align-self-center
.list-middle {
  align-self: center;
}

// 改用 img-fluid
.list-col > a > img,
.list-col > img {
  width: 100%;
}

/* 左右布局列表 */
.list-label {
  padding-left: 0;
  padding-right: 0;
  font-weight: normal; /* bs */
  margin-bottom: 0; /* bs */
}
