.list {
  font-size: 1rem;
  background-color: #fff;
  @include hairline-top($border-color);
  @include hairline-bottom($border-color);

  // ul
  padding-left: 0;
  list-style: none;
}

.list > li {
  @include hairline-top($border-color); /* 在list-intended时,点击高亮整行背景,和下一行的上边框,因此只能用border-top */
}

.list > li:first-child {
  @include hairline-none();
}

.list > li:first-child.list-divider {
  @include hairline-top($border-color);
}

/* 列表项目,可以加到li或a标签中 */
.list-item {
  display: flex;
  color: inherit;
  padding: .625rem 1rem;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

/* 列表分割线 */
.list-divider {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #f8f9fa;
}

.list-divider .list-heading {
  font-size: 14px;
}

/* 点击高亮背景, list-link用于整个ul的所有li, list-item-link用与单独一个li */
.list-link > li:not(.list-divider):active,
.list-link > li:not(.list-divider).active,
.list-item-link:active,
.list-item-link.active {
  background-color: $gray-300;
}

/* 应用在li标签上,使用手型鼠标提示用户可以点击 */
.list-link > li:not(.list-divider), .list-item-link {
  cursor: pointer;
}

/* 列表栏目,相当于td */
.list-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  vertical-align: top;
}

.list-col + .list-col {
  padding-left: 15px;
}

.list-row + .list-row {
  margin-top: 10px;
}

.list-col > a > img,
.list-col > img,
.list-row > a > img,
.list-row > img {
  width: 100%;
}

/* 用于.list-col定位 */
.list-middle {
  vertical-align: middle;
}

/* 列表标题 */
.list-heading {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  position: relative;
}

/* 标题下面的文案,一般用于简介,子标题 */
.list-body {
  font-size: .875rem;
  margin-top: .5rem;
  color: $text-muted;
}

/* 缩进列表 */
.list-indented {
  overflow: hidden; // 隐藏left超出的边框

  li::after, // 兼容旧版本
  .list-item::after {
    left: 1rem;
  }

  // 激活时，下边框占满整行
  li:active + li::after, // 兼容旧版本
  .list-item:active + .list-item {
    left: 0;
  }
}

/*
// 缩进列表不更改divider样式
.list-indented > .list-divider {
  margin-left: 0;
  padding-left: 15px;
}

.list-indented > .list-divider.list-item {
  padding-right: 15px;
}

.list-indented > .list-divider + li {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
}
*/

/* 紧凑列表 */
.list-condensed .list-item {
  padding: .3rem .5rem;
}

/* 无边框列表 */
.list-borderless > li {
  @include hairline-none();
}

/* 左右布局列表 */
.list-label {
  padding-left: 0;
  padding-right: 0;
  font-weight: normal; /* bs */
  margin-bottom: 0; /* bs */
}

/* 列表右边的图标 */
.list-item.has-feedback {
  padding-right: 30px;
}

.list-feedback {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: block;
  text-align: center;
  width: 30px;
  height: 32px;
  line-height: 32px;
  overflow: auto;
  margin: auto;
}

/* 显示列表加载中和加载完成样式 */
.list-loading, .list-finished {
  text-align: center;
  padding: 1em;
}

/* 列表为空的提示文案 */
.list-empty {
  text-align: center;
  padding: 6rem 0;
}

.list-loading-top {
  overflow: hidden;
  position: relative;
  height: 0;
  padding: 0;
  line-height: 40px;
  transform: translateZ(0);
}

.list-loading-transition {
  transition: all 300ms;
}

.list-loading-spinner {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  margin: 6px;
  border: 2px solid;
  border-bottom-color: transparent;
  vertical-align: middle;
  animation: list-rotate 0.75s linear infinite;
}

@keyframes list-rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Deprecated
/* 列表头部 */
.list-header {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.list-header .list-heading {
  font-size: 1.25rem;
}
