/* Loading浮层 */

.loading-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  color: #000;
}

.loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
  pointer-events: auto;
  width: 130px;
  height: 110px;
  background: rgba(0, 0, 0, 0.65);
  background-clip: padding-box;
  border-radius: 6px;
  color: #fff;
}

.loading-overlay p {
  margin: 0.5em 0.5em 0 0.5em;
}

.loading-spinner {
  width: 37px;
  height: 37px;
  display: block;
  background-image: url(//i.gtimg.cn/vipstyle/frozenui/1.0.0/img/loading_sprite_white.png?_bid=256);
  background-size: auto 37px;
  animation: loading-rotate2 1s steps(12) infinite;
}

@keyframes loading-rotate2 {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -444px 0;
  }
}

/* Loading区块 */
.loading-block {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
}

.loading-block .loading-spinner {
  margin: 10px;
  width: 20px;
  height: 20px;
  display: block;
  background: url(//i.gtimg.cn/vipstyle/frozenui/1.0.0/img/loading_sprite.png?_bid=256);
  background-size: auto 20px;
  animation: loading-rotate 1s steps(12) infinite;
}

.loading-block p {
  margin-bottom: 0;
}

@keyframes loading-rotate {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -240px 0;
  }
}
