.modal-content {
  border: 0;
}

.modal-header {
  @include hairline-bottom($border-color);
}

.modal-title {
  font-size: 1rem;
}

.modal-body {
  font-size: 1rem;
  overflow-y: auto;
}

.modal-footer {
  @include hairline-top($border-color);
}

/* 底部弹出Modal窗口 */
.modal-bottom {
  .modal-dialog {
    margin: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  &.fade .modal-dialog {
    transform: translate3d(0, 25%, 0);
  }

  &.show .modal-dialog {
    transform: none;
  }

  .close {
    font-size: 40px;
    font-weight: 100;
    padding: 0 1rem 0 0;
    position: relative;
    top: 4px;
  }

  .modal-content {
    border-radius: 0;
  }
}

/* 解决iOS底部弹窗后可以继续往下滚动的问题 */
.modal-fixfixed {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.modal-fixfixed .modal-backdrop.show {
  opacity: .8;
}

// 实现缩放动画效果
.modal-zoom {
  transform: scale(0.8);
  transition: all .15s linear;
}

.modal-zoom.show {
  transform: scale(1);
}

.modal.modal-zoom .modal-dialog {
  transform: translate(0, 0);
}

// 简化弹窗
.modal-prompt {
  .modal-dialog {
    width: 300px;
    margin: auto;
  }

  .modal-content {
    overflow: hidden; // 隐藏按钮超出的边角
  }

  .modal-header {
    display: none; // 前台无需显示
  }

  .modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 6rem;
    padding: 1.5rem;
  }

  .modal-footer {
    padding: 0;
  }

  .modal-footer > .btn {
    flex: 1 1 0;
    min-height: 3rem;
    font-size: 1.125rem;
    margin: 0;

    // 点击时只有背景色，不显示阴影，淡化操作
    @include button-active {
      box-shadow: none;
    }

    @include hairline-none(true);
  }

  .modal-footer > .btn + .btn {
    // 只显示左边框
    @include hairline-left($border-color);
  }
}
