// Nav underline

.nav-underline {
  border-bottom: 1px solid $border-color;

  .nav-item {
    margin-bottom: -1px;
  }

  .nav-link {
    color: $text-muted;
    border: 0;

    &.active {
      color: $link-color;
      border-bottom: 3px $link-color solid;
      background: transparent; // 抵消 .nav-tabs
    }
  }
}
