.notice {
    font-size: 12px;
    padding: 8px 5px;
}

.notice-xs {
    padding: 2px;
}

.notice .text-warning {
    color: #F70;
}

/* 表单支持 */
.form-group.notice {
    background: none;
    border: 0;
    font-size: 14px;
}