/**
 * 选项卡
 */
.tab-underline {
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    display: box;
    display: -webkit-box;
}

.tab-underline::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.tab-underline > li {
    box-flex: 1;
    -webkit-box-flex: 1;
    text-align: center;
}

.tab-underline > li.active {
    border-bottom: 3px #00a5e0 solid;
    opacity: .8;
}

.tab-underline > li > a {
    color: #808080;
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
}

.tab-underline > li.active > a {
    color: #00a5e0;
}

.nav > li > a:hover, .nav > li > a:focus {
    background: transparent;
}

.tab-btn-group > .btn.active, .tab-btn-group > .btn.active:active, .tab-btn-group > .btn.active:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.tab-btn-group > .btn:not(:last-child) {
    border-right-width: 0
}

.tab-btn-group > .btn.active, .tab-btn-group > .btn:last-child {
    border-right-width: 1px
}

.tab-btn-group > .btn:not(:last-child).active + .btn {
    border-left-width: 0
}

.tab-btn-group > .btn-default.active, .tab-btn-group > .btn-default.active:focus {
    color: #fff;
    background-color: #00a5e0;
    border-color: #00a5e0;
}

.tab-underline-sm > li > a {
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 4px;
}

.tab-underline-sm > li.active {
    border-bottom-width: 2px;
}