.bg-muted {
  background-color: $body-bg !important;
}

.display-none {
  display: none;
}

.truncate-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.center-right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
}

.footer-bar {
  z-index: 1;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 6px;
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}
