.ui-btn-group.ui-btn-bottom, .ui-dialog, .ui-poptips, .ui-notice {
    position: relative;
    margin: 0;
}

.ui-icon {
    font-size: 30px;
}

.ui-table {
    line-height: 40px;
}

body {
    background: #fff;
    -webkit-user-select: inherit;
    -webkit-font-smoothing: antialiased;
}

.example-nav {
    padding: 15px 0;
}

.border-list li {
    width: 100px;
    height: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 50px;
}

.example {
    position: relative;
    padding: 45px 15px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    border-radius: 4px 4px 0 0;
}

.example::after {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "Example";
}

.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    margin-top: 0;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-top: 0;
    border-radius: 0 0 4px 4px;
}

.top {
    display: block;
    padding: 8px 12px;
    position: fixed;
    right: 0;
    bottom: 0;
}

@media (max-width: 480px) {
    .example-list {
        padding: 0;
    }

    .example {
        padding-left: 0;
        padding-right: 0;
        border-width: 0;
    }
}